[2017-09-13 15:43] dorrab opened #2 "Link in the README for build instruction is broken"
Link in the README for details on how to build OpenJ9 is broken: https://pages.github.com/ibmruntimes/openj9-website/oj9_build.html

[2017-09-14 09:47] jonathanwoodford opened #3 "Binary not recognising / stating use of open source packages."
The Eclipse OpenJ9 project uses several open source projects.  These are detailed in the longabout.html file.  I have noticed that once compiled via the Extensions for OpenJDK for Eclipse OpenJ9, the binary is not preserving recognition of this open source.

At a minimum we should include the longabout.html file and ensure that users understand that this is specifically for the openJ9 component.

[2017-09-14 10:38] jonathanwoodford opened #4 "'Java -version' missing 'based on' reference / string."
'Java -version' reports the following (below).  It seems to be missing a reference to what it is 'based on'.  Also, is "9-internal" that correct string for the version?

openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.root.openj9-openjdk-jdk9)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compressed References 20170913_000000 (JIT enabled, AOT enabled)
J9VM

[2017-09-14 14:11] mstoodle commented on #3
@jonathanwoodford I guess you're referring to the fact that there is no section under jre/legal for Eclipse OpenJ9? Or is there another spot you're referring to?

[2017-09-14 15:19] DanHeidinga commented on #2
Proper link is: https://www.eclipse.org/openj9/oj9_build.html

[2017-09-14 15:32] pdbain-ibm opened #6 "configure should detect missing packages"
configure detects some missing packages such as zip, but not others such as libnuma-dev.
This causes the build to fail during compilation.

[2017-09-14 15:33] jonathanwoodford commented on #3
That's right.  We need to list Eclipse OpenJ9 and it's associated open source.

[2017-09-14 15:44] jdekonin commented on #6
numa, as well as m4 and bison are required for compiling openj9.

[2017-09-14 16:17] #2 closed

[2017-09-14 17:03] pdbain-ibm opened #9 "JIT does not compile with gcc-5.4"
c -DJAVA_SPEC_VERSION=9 -O3 -fno-strict-aliasing -g -MMD -DLINUX -D_REENTRANT -D_FILE_OFFSET_BITS=64  -fPIC  -DIPv6_FUNCTION_SUPPORT -DJ9HAMMER -m64 -Wimplicit -Wreturn-type -Werror -I. -I../include -I../oti -I../util -I../gc_include -I/home/pdbain/github/openj9-openjdk-jdk9/build/linux-x86_64-normal-server-release/vm/omr/gc/include -I../tr.source/runtime -I../tr.source/codegen -I../tr.source/base

[2017-09-14 21:21] rwy0717 commented on #6
+1, configure should locate these packages or error out. Where are our build requirements documented?

[2017-09-14 21:44] pshipton commented on #9
Considering the immediate problem is with the openj9 code, I suggest opening an issue on eclipse/openj9 would be more appropriate.

[2017-09-14 21:51] rwy0717 opened #10 "OMR builds not passed --disable-warnings-as-errors when configuring"
This project's top level configure script has an option to enable/disable warnings as errors.

When we disable warnings as errors, this should affect the OMR and openj9 subprojects. Currently, OMR always builds with warnings as errors enabled, regardless of this option.

[2017-09-15 08:14] andrew-m-leonard commented on #4
My build this morning:
admin@fce441e75a84:~/ccm/openj9Public$ ./build/linux-x86_64-normal-server-release/images/jdk/bin/java -version
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc..openj9Public)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compressed References 20170914_000000 (JIT enabled, AOT enabled)
J9VM - 790f81d
JIT  - 790f81d
OMR  - 617de12
OpenJDK

[2017-09-15 08:31] andrew-m-leonard commented on #10
This will be an issue with OMR and it's makefiles, needs raising in Eclipse/openj9-omr.

[2017-09-15 08:33] andrew-m-leonard commented on #9
Please raise in github.com/eclipse/openj9

[2017-09-15 08:33] #9 closed

[2017-09-15 08:48] andrew-m-leonard commented on #4
@jonathanwoodford Jonathan, please re-clone openj9 now that I have added the missing "tags", then re-run your bash configure ... script. Then see if the variable has been substituted in:
  cat build/linux-x86_64-normal-server-release/custom-spec.gmk
look for OPENJDK_TAG
then re-build and see if it looks okay please.

[2017-09-15 10:51] mleipe commented on #6
Build requirements are documented on the [Eclipse OpenJ9 build page](https://www.eclipse.org/openj9/oj9_build.html) in the for of Dockerfiles that can either be used to build Docker images that will build Eclipse OpenJ9 or as "recipes" for building a non-containerized environment.

[2017-09-15 11:26] pdbain opened #11 "make clean deletes openj9_version_info.h"
This file is created during the configure step.  make clean deletes the file, so "make clean; make all" fails due to the missing file.

[2017-09-15 14:53] rwy0717 commented on #10
I don't think this is an issue with OMR. OMR Has a way to disable warnings as errors that works. The problem is that disabling warnings as errors in this metaproject doesn't filter down to openj9 or omr.

[2017-09-15 15:32] #3 closed

[2017-09-15 15:33] davew16 opened #12 "document how to map a directory to the docker container?"
This suggestion assumes that there will be people who want to build the openj9-openjdk-jdk9 binaries themselves, but they are not already familiar with docker.

If such people exist they will follow the instructions in the OpenJ9 Build README and successfully build the OpenJ9 binaries in the docker container.  However, the instructions don't include mapping a host directory into the docker contain

[2017-09-15 15:42] sxa555 opened #13 "Usage screen of get_source scripts reference github.ibm.com"
References in https://github.com/ibmruntimes/openj9-openjdk-jdk9/blob/openj9/get_source.sh and also get_j9_source.sh to github.ibm.com should be changed to the accessible locations on github.com

[2017-09-15 15:54] AdamBrousseau commented on #13
waiting to be merged in #5

[2017-09-15 16:01] mstoodle commented on #12
Thanks for opening the issue @davew16 . Can I ask you to open this issue at our website repository at https://github.com/eclipse/openj9-website ?

I'll put a small response here: we were trying to keep those initial instructions as simple as possible, but we don't have the more comprehensive directions page backing it up yet, which is where I think your suggestion makes a lot of sense. Once the is

[2017-09-15 16:10] mstoodle commented on #10
@rwy0717 Maybe a better title then? Something like "OMR builds not passed --disable-warnings-as-errors when configuring" ?

[2017-09-15 16:57] rwy0717 commented on #10
Good point, done. I'll try to make the description a little clearer too.

[2017-09-15 17:14] AdamBrousseau opened #15 "Remove IBM Tag for Java8_SR5_Beta"
https://github.com/ibmruntimes/openj9-openjdk-jdk9/releases/tag/Java8_SR5_Beta_20170622_2032_B353577

[2017-09-16 04:14] mstoodle commented on #13
Merged now. Thanks @sxa555 and @AdamBrousseau ~

[2017-09-16 04:14] #13 closed

[2017-09-16 07:09] mstoodle commented on #4
I still see this problem in the builds performed by the AdoptOpenJDK build scripts. I believe the problem is that they only do a shallow clone (along with fetching the tags) and the git-fu we currently use to identify the latest build tag doesn't work with a shallow clone. I've worked out a fix and will push shortly.

[2017-09-16 07:33] jonathanwoodford commented on #4
I am now seeing a based on string:
root@jonathan-openj9:~/openj9-openjdk-jdk9/build/linux-x86_64-normal-server-release/images/jre/bin# ./java -version
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.root.openj9-openjdk-jdk9)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compressed References 20170915_000000 (JIT enabled, AOT enabled)
J9VM - cea1ed7
JIT  - ce

[2017-09-18 08:11] davew16 commented on #12
I have created a new issue at https://github.com/eclipse/openj9-website as suggested ([here](https://github.com/eclipse/openj9-website/issues/13)).  Closing this issue now.

[2017-09-18 08:11] #12 closed

[2017-09-18 10:21] andrew-m-leonard commented on #15
Deleted tag...!

[2017-09-18 10:21] #15 closed

[2017-09-18 11:11] davew16 commented on #6
assigning this issue to @jdekonin for answer to @mstoodle's question in the pull request

[2017-09-18 14:12] FireBurn commented on #4
I'm seeing a similar issue:

java -version
Picked up _JAVA_OPTIONS: -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel
openjdk version "1.8.0_144"
OpenJDK Runtime Environment (IcedTea 3.5.1) (Gentoo icedtea-3.5.1)
OpenJDK 64-Bit Server VM (build 25.144-b01, mixed mode)

It doesn't like the _JAVA_OPTIONS line coming first

[2017-09-18 14:24] mstoodle commented on #4
@FireBurn that doesn't look like OpenJDK with OpenJ9. We don't (yet) have Java 8 support with OpenJ9 (it will come, don't worry!) so that's the key clue :) .

[2017-09-18 14:38] FireBurn commented on #4
The check seems to be for 1.8 or 1.9

checking for version string... 9-internal+0-adhoc.fireburn.openj9-openjdk-jdk9
configure: Found potential Boot JDK using JAVA_HOME
configure: Potential Boot JDK found at /etc/java-config-2/current-system-vm is incorrect JDK version (Picked up _JAVA_OPTIONS: -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKL

[2017-09-18 15:13] mstoodle commented on #4
Ah, ok, i had misinterpreted the issue you're reporting, which is different than this issue. Would you please open a new issue for the problem you're seeing (trying to pass additional Java options in the configure step, assuming that's what you're trying to do) ?

[2017-09-18 17:18] mleipe opened #18 "Build Eclipse OpenJ9 on Windows"
It is desirable that Eclipse OpenJ9 build and run on Windows.

@vsebe is working on this.

Note that I've created a [sibling issue](https://github.com/eclipse/openj9/issues/55) in https://github.com/eclipse/openj9/ as some of the work may need to be done there.

[2017-09-18 20:13] jdekonin opened #20 "Use --with-jvm-variants for identifying a 64 vs 64-compressedrefs build"
Currently binaries are generating for the 64bit compressed platforms (default) and not the 64bit version.  Using --with-jvm-variants would appear to be the option that should detail which one or both versions should be created.

[2017-09-18 20:33] jdekonin opened #21 "jlink does not produce a working runtime, VM is missing"
From an OpenJ9 build, run jlink to create a new runtime.

i.e. The following produces a new runtime in the "base" directory, containing only the java.base module.
bin/jlink --module-path jmods --add-modules java.base --output base

Try to run the new runtime, it doesn't work because the J9 VM is missing.
base/bin/java
Error: missing j9vm' JVM at/bluebird/builds/bld_361845/sdk/xa6490_openj9/jdk/bas

[2017-09-18 20:38] jdekonin opened #22 "jdmpview and traceformat executables"
The OpenJ9 build doesn't create the jdmpview and traceformat executables. They should be created in the same way other executables like javac, javah, etc are created.

The executables should run the following main classes, however the module names may change in the future.

java -m com.ibm.dtfjview/com.ibm.jvm.dtfjview.DTFJView

bin/java -m com.ibm.traceformat/com.ibm.jvm.traceformat.TraceFormat

[2017-09-19 09:17] jonathanwoodford commented on #6
Another dependency is freemarker.  This is specified on the configure step:
    bash ./configure --with-freemarker-jar=~/freemarker.jar

If this has not been installed, or the wrong location is specified, this fails at the build phase, not the configure phase.

[2017-09-19 10:37] mleipe commented on #6
My experience has been that configure explicitly complains if freemarker is not there, and that it even tells you how to wget and untar it.  I'll check again today.

[2017-09-19 23:17] mleipe commented on #6
Okay, I've confirmed your user scenario, @jonathanwoodford, thanks for clarifying earlier today.

If you omit the '--with-freemarker-jar' command-line option, configure complains.

If you include the option and the jar file is not there, or if, as you've tried, you provide a path that does not contain the freemarker jar file, configure doesn't complain.

We need to fix this.  If there's no freemar

[2017-09-20 10:57] archanaNogriya commented on #20
@jdekonin
Where I can find what flag we need to pass which can create binary for noncompress 64 build? and where?
The JVM variants to build from, comma separated list that can include: server, client, kernel, zero and zeroshark.

[2017-09-20 10:58] archanaNogriya commented on #20
However client VM is only available on 32-bit systems

[2017-09-20 12:41] jdekonin commented on #20
I don't see this as a simple enable a flag fix.  Rather create (or maybe repurpose existing) flag(s) that will provide make instructions as to what set of binaries need to be generated.

Currently configure detects the 64bit platform and architecture and then configuration translates that to the J9 cmprssptrs version.  See closed/autoconf/custom-hook.m4.

Turning on 32bit versions shouldn't be dif

[2017-09-20 16:53] andrew-m-leonard commented on #21
@jdekonin I'm discovering I can't accurately fix this, I think this needs a J9VM expert who knows what lib to copy where to take a look...

[2017-09-20 20:57] jdekonin opened #24 "If there's no freemarker.jar, configure should fail."
If you omit the '--with-freemarker-jar' command-line option, configure complains.

If you include the option and the jar file is not there, or if you provide a path that does not contain the freemarker jar file, configure doesn't complain and there is a cryptic failure during the compile.

[2017-09-20 20:57] jdekonin commented on #6
Opened #24 to address the freemarker.jar issue raise in the last comment.

[2017-09-21 10:03] #4 closed

[2017-09-21 10:05] andrew-m-leonard commented on #21
This is what I have tried so far in closed/OpenJ9.gmk build-j9 recipe:
        # Copy J9 VM support modules
        @$(MKDIR) -p $(OUTPUT_ROOT)/support/modules_libs/java.base/j9vm
        @$(MKDIR) -p $(OUTPUT_ROOT)/support/modules_libs/java.base/compressedrefs
        @$(CP) -p $(OUTPUT_ROOT)/vm/$(LIBRARY_PREFIX)jvm$(SHARED_LIBRARY_SUFFIX) $(OUTPUT_ROOT)/support/modules_libs/java.base/j9vm

[2017-09-21 12:42] pshipton commented on #21
You may also need to copy j9vm/libjvm.so to modules_libs/java.base/server

[2017-09-21 12:44] pshipton commented on #21
Although java starts without having the lib/server/libjvm.so, but this would make a jlinked version the same as the jdk build

[2017-09-22 14:37] Bluevisitor commented on #22
Update: a number of files create executables, but I think the one that generates javac is:
jdk/make/launcher/Launcher-jdk.compiler.gmk

This uses the file LauncherCommon.gmk in the same directory, example here:

`$(eval $(call SetupBuildLauncher, javac, \
   MAIN_CLASS := com.sun.tools.javac.Main, \
   JAVA_ARGS := --add-modules ALL-DEFAULT, \
   CFLAGS := -DEXPAND_CLASSPATH_WILDCARDS, \
))`

If w

[2017-09-22 16:03] AdamBrousseau opened #27 "Pull Request builds (z/p - sanity)"
Similar to eclipse/openj9#91

- Builds should compile and run the sanity test target.
- [Linux-ppc64le](https://ci.eclipse.org/openj9/view/Pull%20Requests/job/PullRequest-Sanity-linux_ppc-64_cmprssptrs_le-OpenJDK/)
- [Linux-s390x](https://ci.eclipse.org/openj9/view/Pull%20Requests/job/PullRequest-Sanity-linux_ppc-64_cmprssptrs_le-OpenJDK/)
- Need a list of users to whitelist (allowed to request bu

[2017-09-22 20:16] pshipton commented on #21
Many libs in lib/compressedrefs need to be added (see *), although they should remain in the compressedrefs subfolder of java.base. What you are trying to (re)create is the same directory structure as found in the OpenJ9 build itself. I suggest comparing the output from jlink to the OpenJ9 build and checking for differences, and then fix the script accordingly. It is expected the output from jlink

[2017-09-22 22:12] jdekonin commented on #21
There are macros in place to perform these task, the $(CP) shouldn't be used in this way.  This should also be figured out from the openjdk extensions side (??).  During the compile there are lines like "Creating support/modules_libs/java.base/libnio.so from 24 file(s)"  We need to extend this .gmk functionality to include openj9 content on a module basis.

[2017-09-22 22:23] Bluevisitor opened #29 "Freemarker jar cannot be found if location includes a tilde (~)"
This command works:

bash ./configure --with-freemarker-jar=/root/freemarker.jar

This command does not:

bash ./configure --with-freemarker-jar=~/freemarker.jar

However, the latter is indicated as the correct format on the eclipse openj9 build instructions page:

https://www.eclipse.org/openj9/oj9_build.html

Note: "echo ~" is "/root", and "echo $0" is "/bin/bash".

Also, Luc Maisons discovered

[2017-09-22 22:56] Bluevisitor commented on #22
The build appears to have succeeded, and generated the required executables.

A standard "run the executables with poorly formatted options and make sure they print their help options" test worked, proving that at least some of their code executed properly. If any other tests exist for these executables, I recommend arranging for them to be run.

I'm unassigning this issue now, as I have next week

[2017-09-24 22:58] AdamBrousseau commented on #27
@andrew-m-leonard I need a list of people to whitelist and I need an admin to create a webhook on the repo

[2017-09-25 10:10] ben-walsh commented on #29
Attempting to recreate this.

@Bluevisitor Please can you provide the output of ...
[code]
... on the system where you attempted the command ...
[code]

[2017-09-25 10:13] davew16 commented on #11
The openj9_version_info.h file is created in the $OUTPUT_ROOT/vm/util by the configure script.  Autoconf is used to create the file with the required contents.  This step is configured near the bottom of closed/autoconf/custom-hook.m4, and when the configure script is run the task of creating the openj9_version_info.h file is added to closed/autoconf/generated-configure.sh.

($OUTPUT_ROOT is build

[2017-09-25 10:30] ben-walsh commented on #27
@AdamBrousseau Initial members of such a whitelist are identified here - https://github.com/orgs/ibmruntimes/teams/openj9/members.

Question - do we want to go down the route of whitelisting rather than blacklisting ?

How likely are those wanting to abuse the system to go to the effort of creating a PR, making a suitably destructive change and trigger enough builds for it to be a problem ?

The m

[2017-09-25 10:56] ben-walsh commented on #29
Hmmmm, my initial theory that having a SHELL environment variable set to /bin/sh causes the problem, has been proven incorrect - at least outside of the docker image. Potentially there is different behaviour when inside the docker image. To be tested.

[2017-09-25 13:30] lmaisons commented on #29
This is the experiment referred to above:
[code]
Reading https://www.gnu.org/software/bash/manual/html_node/Tilde-Expansion.html and http://wiki.bash-hackers.org/syntax/expansion/tilde it seems bash is only supposed to expand tildes at the beginning of a word, or as part of a variable assignment.  Bash's parsing is not 100% as bash will expand:
[code]
and will even expand:
[code]
But it stops doin

[2017-09-25 14:06] keithc-ca commented on #29
Bash is documented to do tilde expansion of 'value' in 'name=value' (where name is a legal variable name and so doesn't contain a dash), but as I read the documentation, it should only happen for (environment variable) definitions appearing _before_ the command name on the command line, but perhahs bash thinks it's being helpful for commands like:
`
make FREEMARKER=~/freemarker.jar
`
The simplest

[2017-09-25 14:21] jdekonin commented on #29
@SueChaplain can you please advise once documentation has been updated so I can redo/revert the work performed under #25 and #28?  Thanks.

[2017-09-25 15:05] jdekonin commented on #24
This was reverted via #28.  Needs to be resubmitted as is once documentation has been updated appropriately.

[2017-09-25 15:07] AdamBrousseau commented on #27
@ben-walsh that isn't a publicly visible team so I cannot see it as I am not a member.
I am setting it up this way since this is the way it has already been setup on the openj9 repo.
I wouldn't say that having a whitelist of users who can request PR builds would deter contributors. I would actually argue that a whitelist is more appropriate in the case of this repo since we are only accepting cont

[2017-09-25 15:30] ben-walsh commented on #27
Ah. Here's the current content at that page ...

[code]

[2017-09-25 15:33] ben-walsh commented on #27
Fair enough of the security/load concerns - perhaps we've had differing previous experiences in this regard.

[2017-09-25 16:54] keithc-ca commented on #10
Silly question: Why would we need to _disable_ warnings as errors in OMR when compiles normally succeed with warnings as errors _enabled_? Is someone contemplating introducing code somewhere that gets compiled as part of OMR that _can't_ be warning free?

[2017-09-25 17:29] rwy0717 commented on #10
This is for developers and downstream, people working with toolchains which OMR doesn't compile cleanly with (EG me on my laptop).

[2017-09-25 17:40] keithc-ca commented on #10
Thanks. I was hoping we weren't retreating from our goal of warning-free compiles.

[2017-09-25 17:49] vsebe opened #31 "WIP: Add support for windows to the configuration scripts"
Add windows support to custom hook.

[2017-09-25 17:56] vsebe opened #32 "WIP: Fix java buildtools to compile on windows using cygwin"
Convert cygwin paths to windows.

[2017-09-25 18:09] vsebe commented on #18
Depends on issues #31 and #32

[2017-09-25 20:28] AdamBrousseau commented on #27
Updated the whitelist with the names above, please let me know when the hook is created or if you have any questions about it.

[2017-09-26 15:52] mgaudet opened #34 "make exploded-images doesn't work"
I just did a build in a container, and experienced the following error:

[code]

This is because if you type `make`, with no sub target, the default is `exploded-images`, which appears to not work.

[2017-09-26 16:10] mgaudet commented on #34
Container: `docker build -t openj9build openj9/buildenv/docker/jdk9/x86_64/ubuntu16/`

Docker Command:

[code]

Configured with free marker from `$HOME/freemarker.jar`, and using OpenJ9 as the boot-idk.

[2017-09-26 17:19] #31 closed

[2017-09-26 17:32] mgaudet commented on #34
For references, here's my repo revisions:

openJ9-openjdk-jdk9: b468fb8a4def0697cd2b49c5537d4c4529f50043
omr: 3271be89f2df16683616fe0e38c85693cea982bb
openJ9: c01ae1b0aac52f8cc2329e5057fe32e4580ed44e

[2017-09-26 19:09] #6 closed

[2017-09-27 13:02] jdekonin opened #36 "Include a version of CONTRIBUTING.md"
There needs to be a statement around how contributions can be made in this repo.

I don't believe copying or referencing the eclipse/openj9 projects is appropriate as it doesn't meet all the criteria for this repo.

[2017-09-27 14:05] vsebe commented on #32
Depends on eclipse/openj9#154

[2017-09-27 14:24] pshipton opened #38 "Create extensions for Java 18.3"
In order to create an OpenJ9 build for Java 18.3, a new extensions project is needed to extend http://hg.openjdk.java.net/jdk10/master

[2017-09-27 14:32] #24 closed

[2017-09-27 16:00] SueChaplain commented on #29
@jdekonin Hi Joe. Peter has now refreshed the site. Path now fixed. Sorry for the delay.

[2017-09-27 16:05] #32 closed

[2017-09-27 18:48] keithc-ca commented on #34
You don't want to use the default make target, you want to say `make images` (unless you told configure that should be your default target). You could also do as advised at https://www.eclipse.org/openj9/oj9_build.html and say `make all`.

[2017-09-27 18:50] keithc-ca commented on #29
The documentation at https://www.eclipse.org/openj9/oj9_build.html has been updated. The problem described here does not occur if that advice is taken.

[2017-09-28 11:35] AlexBudesteanu opened #40 "cannot check for freemarker existence when cross compiling"
Hello,

I am trying to cross-compile OpenJ9 for armhf.
I have followed the guidelines [here](url) and I have managed to get to a point where I get this error:

configure exiting with result code 1

The command that generated it is:

[2017-09-28 14:54] AdamBrousseau commented on #27
Thnaks @jdekonin for adding the hook. This should be operational now. Please post any immediate issues here.

[2017-09-28 14:55] #27 closed

[2017-09-28 15:10] jdekonin commented on #40
Hi @AlexBudesteanu, thanks for raising this issue.  I haven't tried working in changes for arm myself as yet.  I have aided a few others with pointers though.  See eclipse/openj9#53 for some more details.

I think that the problem might be with a recent AC_CHECK_FILE that was added (by me).  Would you be able to try the changes I have add to my fork?  jdekonin/openj9? ...same as changes under #41.

[2017-09-28 17:25] vsebe opened #42 "WIP: Numa check breaks windows configuration"
Numa check resets the user compiler to GNU gcc instead of MSVS.

Run configure for windows/cygwin:
`bash configure --disable-warnings-as-errors --with-toolchain-version=2013 --with-toolchain-type=microsoft ...`
...
configure: Found Visual Studio installation at /cygdrive/c/Program Files (x86)/Microsoft Visual Studio 12.0/ using VS120COMNTOOLS variable
configure: Found Microsoft Visual Studio 2013

[2017-09-28 20:33] mgaudet commented on #42
You can make your text show up preformatted by either fencing it with three backticks, or spacing with four spaces:

[code]

[code]

See more in the GitHub [Guide to Mastering Markdown](https://guides.github.com/features/mastering-markdown/)

[2017-09-28 20:44] #42 closed

[2017-09-28 20:49] vsebe opened #44 "WIP: Unknown rebase -R option on windows with MSVS 2013 toolchain"
rebase -q -b 0x7FFFF750000 -d -R . -l rebase.log -G rebase_top.txt -G rebase.txt -O rebase_jcl.txt -O rebase_jvm.txt -O rebase_tools.txt -O rebase_jit.txt
rebase: unknown option -- R
usage: rebase [-b BaseAddress] [-o Offset] [-48dOsvV] [-T [FileList | -]] Files...
       rebase -i [-48Os] [-T [FileList | -]] Files...
       rebase --help or --usage for full help text
make[4]: *** [makefile:1247:

[2017-09-28 20:58] vsebe opened #45 "Fix module dependency discovery to support microsoft prepocessor"
Microsoft (R) C/C++ Optimizing Compiler Version 18.00.40629 for x64
Copyright (C) Microsoft Corporation.  All rights reserved.

cl : Command line warning D9002 : ignoring unknown option '-'
cl : Command line error D8003 : missing source filename
make[1]: *** Deleting file '/cygdrive/c/tmp/openj9-openjdk-jdk9_latest/build/windows-x86_64-normal-server-release/make-support/module-deps.gmk'

Fix c pre

[2017-09-28 21:30] keithc-ca commented on #11
@ben-walsh I hope I haven't stepped on your toes. I only noticed your commit after I had my solution working.

[2017-09-29 02:27] #11 closed

[2017-09-29 08:39] #10 closed

[2017-09-29 13:05] mgaudet commented on #34
So should I perhaps open a different item that the default make target is broken?

[2017-09-29 13:57] keithc-ca commented on #34
I don't think the default make target is broken  - it's what you asked for at step configure step. This surprised me at first too, but I've come to accept it.
`bash configure --help` says
[code]
That means `make` is the same as saying `make exploded-image` which is apparently not what we would have expected. I imagine you'll have more success using `bash configure  --with-default-make-target=image

[2017-09-29 13:59] mgaudet commented on #34
Do we care if `exploded-image` is broken? Should that get an issue? in the mean time, I'll open an issue with the website suggesting that be added as a configure arg.

[2017-09-29 14:22] keithc-ca commented on #34
Perhaps this ought to be re-purposed as a request to make `make exploded-image` functional?

[2017-09-29 15:03] mgaudet commented on #34
Edited description and title.

[2017-09-29 15:58] mgaudet commented on #34
(I'll leave it up to @ben-walsh if pulling the invalid label makes sense now)

[2017-09-29 16:03] keithc-ca commented on #34
I suggest removing the 'invalid' label _does_ make sense.

[2017-09-29 19:33] vsebe opened #49 "WIP: Invalid cl command line for windows"
make[5]: Entering directory '/cygdrive/c/tmp/openj9-openjdk-jdk9_latest/build/windows-x86_64-normal-server-release/vm'
/usr/bin/make -f threadshared.mk all UMA_PATH_TO_ROOT=../ OMR_DIR=/cygdrive/c/tmp/openj9-openjdk-jdk9_latest/build/windows-x86_64-normal-server-release/vm/omr
make[6]: Entering directory '/cygdrive/c/tmp/openj9-openjdk-jdk9_latest/build/windows-x86_64-normal-server-release/vm/thre

[2017-09-29 19:39] #45 closed

[2017-09-29 19:46] jdekonin commented on #40
@AlexBudesteanu #41 has been merged.  Please advise if this doesn't resolve the error that you are seeing.

[2017-09-29 19:50] keithc-ca commented on #49
What is the make command line that begins the OMR compilation?

[2017-09-29 19:59] vsebe opened #50 "Remove dependency on mingw for windows platform"
OpenJ9 requires mingw to compile bytecode interpreter on windows platforms. Replace it with the default compiler.

[2017-09-29 20:28] vsebe commented on #49
FYI @keithc-ca:  /usr/bin/make -w -j8 --jobserver-auth=5,6 -C omr

[2017-09-30 09:40] AlexBudesteanu commented on #40
Hi @jdekonin! I confirm that your changes fix the mentioned issue. Thank you very much!

[2017-10-02 07:59] Bluevisitor commented on #29
Good work guys. Thanks!

[2017-10-02 12:18] Bluevisitor commented on #22
After reviewing the existing files, I believe that the Launcher-jdk.jcmd.gmk file is the best location for the code that generates these executables, on the basis that that gmk file already generates the executables for jinfo and jmap, which are (and use) debugging tools.

I'm running a build now with the new code added to that file. While that's running I plan to seek out any existing testing we

[2017-10-02 13:07] #40 closed

[2017-10-02 13:08] #29 closed

[2017-10-02 13:36] ben-walsh commented on #34
I think this is a further symptom of https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/21. Need to confirm.

[2017-10-02 14:47] yongja79 commented on #21
@jdekonin Are you saying we want to recompile the files? The lines like "Creating support/modules_libs/java.base/libnio.so from 24 file(s)" are happening in the NativeCompilation.gmk. As the files we want already exist in the vm directory why isn't copying them across enough? We already do this for several other files...

[2017-10-02 14:49] pshipton opened #52 "OpenJ9 build creates unsupported executables"
The OpenJ9 build creates a number of unsupported executables. These work on Hotspot, but not OpenJ9. While eventually all or some of these executables might be supported, removing them from the build in the meantime avoids confusion caused by trying to use the executables and finding they don't work.

jcmd, jinfo, jmap, jps, jstack, jstat, jstatd

[2017-10-02 14:50] pshipton commented on #22
Note J9 doesn't currently support jinfo, jmap and others. We could turn off generation of the unsupported modules, I've created another issue #52 for that.

[2017-10-02 15:10] Bluevisitor commented on #22
So you'll probably be removing or excluding the code that generates their executables as well, I imagine.

Would it be possible to execute the file along with the other executable-generating files, but simply exclude the bits we don't want?

If not, let me know, as I will need to put the code that generates the jdmpview and traceformat executables in another file.

[2017-10-02 15:19] Bluevisitor commented on #52
The executables for all of those (except jstatd) are generated by the file "Launcher-jdk.jcmd.gmk".

jstatd is generated by the Launcher-jdk.jstatd.gmk file in the same directory (jdk/make/launcher).

Preventing the creation of these executables should be as simple as removing those lines in the extensions repository.

I recommend leaving the files so we can re-add those features one-by-one as Ope

[2017-10-02 15:38] pshipton commented on #22
From a quick look, using another file would be better considering every executable in Launcher-jdk.jcmd.gmk is unsupported by OpenJ9. Plus we want to extend the build rather than modify existing files (except to add extensions hooks into existing files).

[2017-10-02 16:04] Bluevisitor commented on #22
That should work for this issue, but issue 52 may have problems. See that issue for my concerns.

[2017-10-02 16:06] Bluevisitor commented on #52
Peter advised that extension is better than modification.

Unfortunately, simply extending these files won't prevent the creation of the unsupported executables. If the code in these files runs at all, regardless of our extension code, these executables will be generated.

If we want to prevent these executables being generated, we need to prevent this code being executed. If you know a way to do

[2017-10-02 16:07] ben-walsh commented on #34
Further investigation suggests this is *not* a further symptom of #21.

[2017-10-02 18:02] vsebe commented on #49
https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/51

[2017-10-02 18:56] pshipton commented on #52
Ideally we should overwrite or overlay the original Launcher-jdk.jcmd.gmk with an empty file, rather than modifying the existing file. The former continues to work if Launcher-jdk.jcmd.gmk is modified, while the latter becomes a merge conflict any time Launcher-jdk.jcmd.gmk is modified.

@andrew-m-leonard

[2017-10-02 20:07] aprenaud commented on #50
mingw was chosen because the default compiler wouldn't complete compilation with optimizations. chaging back to the default compiler would have major throughput implications.

Why do we want to do this?

[2017-10-02 20:34] pshipton commented on #50
This is a temporary step to get a Windows build working sooner. The mingw version we are using internally seems to be an interim version which isn't available publicly. After the Windows build is running we can circle back and work on getting mingw working again.

[2017-10-03 08:48] Bluevisitor commented on #52
Andrew spotted that we have removed gmk files in this directory, rather than replacing them with empty files, so I will do the same for consistency.

[2017-10-03 10:38] pshipton commented on #52
This isn't ideal for maintenance as removing a file becomes a merge conflict any time OpenJDK modifies the original file. Removing the file is essentially deleting every line, which conflicts with changes or additions to the file.

[2017-10-03 10:56] Bluevisitor commented on #52
If that's the case, then we should also change this for other deleted files (like jdk/make/lib/Lib-java.management.gmk).

Perhaps a separate issue?

[2017-10-03 14:40] Bluevisitor commented on #52
We discussed the issue locally and agreed that we should go for consistency. If there are merge conflict concerns, then I advise raising a separate issue to cover that, and we can then address all of the deleted files (including these) at the same time.

I've created a pull request to cover the change: https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/54

[2017-10-03 15:44] Bluevisitor commented on #52
Pull request has been reviewed and accepted.

@pshipton - If the deletion of files will lead to merge conflicts, I encourage you to raise a new issue for it.

[2017-10-03 15:44] #52 closed

[2017-10-03 18:12] #50 closed

[2017-10-04 12:16] Bluevisitor commented on #22
The code for this is ready, and has been for a while now (see https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/55). I'm working on running tests to verify that they work (beyond executable --help).

I've identified VM_Promotion.cmdLineTester_callsitedbgddrext as a good jdmpview test. Working on running it.

[2017-10-04 13:11] pshipton commented on #22
Note OpenJ9 doesn't support DDR yet, jdmpview on OpenJ9 will be extremely limited functionality. The task was to create the executables, and it seems this is completed. As long as they run the correct main class I think this task can be considered complete.

[2017-10-04 13:30] Bluevisitor commented on #22
Seems fair. I ran it past Andrew as well, to make sure I'm not accepting this just because it's easier.

I've got a clean build running now, to make sure what I'm committing works as well as my local copy (which has other changes). If that works, I'll ask someone to approve the PR and merge.

[2017-10-04 13:43] pshipton commented on #22
Seems you are already convinced, but just for the record - I expect any problems found from running the executables, besides problems related to running the right main class, would be OpenJ9 Issues and not resolved under this Issue on the extensions.

[2017-10-04 14:31] Bluevisitor commented on #22
Ok, the build is finished, and the produced executables are calling the right classes.

pshipton and yongja79 have reviewed and approved. yongja79 had trouble with the review system, but you'll see his review down the bottom, to prove he reviewed it.

[2017-10-04 14:31] #22 closed

[2017-10-06 10:59] andrew-m-leonard opened #58 "Update Jenkins CI to perform auto-check for "Signed-off by: <user>""

[2017-10-09 01:13] #36 closed

[2017-10-09 01:47] DanHeidinga commented on #58
fyi @AdamBrousseau

[2017-10-09 15:50] Bluevisitor commented on #38
I'm working on a local copy of Extensions for Openjdk10 for Eclipse OpenJ9. Openjdk10 is patched, and passes the configure step, but fails during the build. I'm working on it now, and I'll update once the build passes.

[2017-10-11 12:12] groeges opened #62 "Need to support building of OpenJ9 on AIX platform"
There are several changes needed to allow OpenJDK9 with OpenJ9 to build on an AIX platform.
These are mainly changes to make files and to some OpenJ9 config files.

[2017-10-11 12:53] groeges commented on #62
Pull Request: https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/61

[2017-10-12 18:12] #62 closed

[2017-10-17 14:09] #44 closed

[2017-10-17 14:46] vsebe commented on #18
I had to hack the environment to use the right linker, the msvs not the version packed by cygwin and ensure there is one `link` on the path:

[code]
This hack and all of the above changes are sufficient to build it and run java -version.

[2017-10-17 15:54] yongja79 opened #67 "Improve how OpenJ9.mk builds the images"
The issue to get jlink to work #21 brought up how OpenJ9.gmk builds the build jdk, image jdk and image jre and how it should be improved.

Is closed/OpenJ9.gmk is the correct place for this. The [pre/post] Images.gmk might be a better location or extending 'module'-libs targets or maybe customizing/extending jdk/make/lib/Lib-java.base.gmk?

If closed/OpenJ9.gmk is the right place, improve the macr

[2017-10-17 15:58] pshipton opened #68 "Create a jextract executable"
Create a jextract executable to call com.ibm.dtfj/com.ibm.jvm.j9.dump.extract.Main

FYI #22

@paulcheeseman

[2017-10-17 16:53] andrew-m-leonard commented on #21
@yongja79 Looks good Jason :-)

[2017-10-17 16:53] andrew-m-leonard commented on #21
admin@b6c926402e69:~/ccm/openj9Public/build/linux-x86_64-normal-server-release/images/jdk$ base/bin/java -version
openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc..openj9Public)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compressed References 20171017_000000 (JIT enabled, AOT enabled)
OpenJ9   - a82451c
OMR      - e705c80
OpenJDK  - 20e6fd5 based on jdk-9+

[2017-10-17 17:09] keithc-ca commented on #21
This isn't quite fixed yet. With all repos up to date, `make clean && make`fails:
[code]

[2017-10-17 17:15] keithc-ca commented on #21
Removed my comment about #34 not being fixed yet (which doesn't belong here).

[2017-10-17 19:25] pshipton commented on #21
Tried a few things myself, looks good. I assume this can be closed now.

BTW, the pull request would have automatically closed this if it contained "Fixes #21" instead of "Fixes issue #21".

[2017-10-17 19:25] #21 closed

[2017-10-17 19:34] pshipton commented on #68
libj9jextract.so will also need to be added into the java.base module, for now.

[2017-10-17 19:37] pshipton opened #70 "lib/compressedrefs directory contains test libraries"
Follow-on from #21, and possible overlap with #67 . The lib/compressedrefs directory in the jdk image contains a number of libraries which are only used for testing. They shouldn't be part of the jdk image, although this may break testing, which will have to be fixed to look elsewhere.

libj9jextract.so should be added to java.base (for now), see #68.
libjclse7b_20.so isn't needed for Java 9 or la

[2017-10-18 10:01] gdams commented on #18
@vsebe any idea why this is failing for me? https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_x86-64_windows/3/console

[2017-10-18 10:13] gdams commented on #18
also I wouldn't recommend building using one of our nighties as a boot JDK (https://adoptopenjdk.net/releases.html?variant=openjdk8#x64_win) would be a better binary to use

[2017-10-18 15:07] groeges opened #72 "AIX build does not generate a jre image"
Building OpenJDK9 with OpenJ9  and also plain OpenJDK9 do not create a JRE image.

This seems to be a base OpenJDK problem and bug has been raised https://bugs.openjdk.java.net/browse/JDK-8189618

[2017-10-18 15:50] vsebe commented on #18
The change merged in PR #66 breaks the build jdk on windows.
 @gdams please wait until I fix it.

[2017-10-19 13:58] andrew-m-leonard opened #75 "build-j9 intermittently fails to copy files"
OpenJ9 compile complete
/bin/cp: target '/home/admin/ccm/openj9Public/build/linux-x86_64-normal-server-release/support/modules_libs/java.base' is not a directory
make[3]: *** [build-j9] Error 1
make[2]: *** [j9vm-build] Error 1

[2017-10-19 22:06] JasonFengJ9 commented on #68
module `com.ibm.dtfj` will be renamed to `com.ibm.dtfj` so the executable should call `openj9.dtfj/com.ibm.jvm.j9.dump.extract.Main` instead. For easy transition, could the executable fall back to `com.ibm.dtfj/com.ibm.jvm.j9.dump.extract.Main` if the invocation to `openj9.dtfj` failed?

[2017-10-20 13:39] andrew-m-leonard commented on #75
Merged

[2017-10-20 13:39] #75 closed

[2017-10-20 13:51] pshipton commented on #68
We don't need to create any fall back, we can just change the main class in the executable at the same time as the module name is changed. @JasonFengJ9 what is the issue/PR for the module change?

[2017-10-20 13:59] JasonFengJ9 commented on #68
There is no issue created for renaming module `com.ibm.dtfj`. It was an internal `PR 124407`.

[2017-10-20 14:47] pshipton commented on #68
Until the change to openj9.dtfj, the jextract executable can use com.ibm.dtfj, and then be changed at the same time as the module is renamed.

[2017-10-23 20:33] pshipton commented on #38
Note the link I provided originally is out of date, and should be http://hg.openjdk.java.net/jdk10/master. I've edited to the original comment to update the link.

[2017-10-24 14:02] vsebe commented on #18
Fixed.

[2017-10-24 18:51] mstoodle commented on #38
@adamfarley just curious how are you removing Hotspot from your Extensions repo, given the new consolidated forest?

[2017-10-25 09:54] adamfarley commented on #38
@mstoodle - I'm not. I made the initial "copy" of OpenJDK10 before the jdk10 forest was consolidated, and the work has since been deprioritised. I understand @davew16 is working with the consolidated forest at the moment, but right now we have no solution for the Hotspot removal, nor do we have a concrete plan in place.

[2017-10-25 14:24] mstoodle commented on #38
ok, that explains it :) .

Maybe we'll need to do something like what's described here: https://stackoverflow.com/questions/10067848/remove-folder-and-its-contents-from-git-githubs-history

And then somehow keep it going as we pull new things into the master branch ?

[2017-11-04 17:24] JamesKingdon opened #81 "custom-hook.m4 needs to handle cross-compilation"
In OPENJ9_PLATFORM_SETUP there is a call

    OPENJ9_PLATFORM_EXTRACT_VARS_FROM_CPU($build_cpu)

which does the wrong thing when cross compiling, leading to x86 objects being created when cross compiling for arm.

[2017-11-04 17:28] JamesKingdon opened #82 "custom-hook.m4 OPENJ9_PLATFORM_SETUP needs to support arm"
In custom-hook.m4 OPENJ9_PLATFORM_SETUP the if statement on OPENJ9_CPU needs extending to cover arm. The following might be a starting point:
[code]

[2017-11-04 17:33] JamesKingdon opened #83 "Main.gmk attempts to compose the buildjvm when it shouldn't"
Main.gmk will attempt to copy libraries into the build jvm even when using --with-build-jdk. Since the build jvm wasn't built in this case, it's likely that the libraries it was attempting to copy were for the target architecture (cross compiling), and therefore not a good thing to do.
Commenting out the j9vm-compose-buildjvm target helped in the short term, but I tihnk this needs to be made condi

[2017-11-05 00:44] DanHeidinga commented on #82
@JamesKingdon Can you open a PR for this change?

Checkout where `osx` is used in the makefiles / configure files in openjdk as the same places will need to be modified for arm.  I think there were 3 places that needed to be touched for OSX.

[2017-11-18 23:19] JamesKingdon commented on #82
https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/87

[2017-11-18 23:20] JamesKingdon commented on #81
https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/87

[2017-11-18 23:36] JamesKingdon commented on #67
We also need to consider how the build jdk should be handled for cross compiling, as that currently doesn't seem to work.

[2017-11-22 12:11] JamesKingdon commented on #83
This issue is addressed for arm cross compiles by PR #87 and #88 but those changes should probably be generalised to handle --with-build-jdk on native builds.

[2017-11-23 13:19] cosmin-ionita opened #89 "Enable static build on Linux"
Hello!

I saw that static building is only allowed on macosx systems (by using --enable-static-build flag). Why can't it be allowed on Linux systems? What are the differences between static building on macosx and Linux?

I tried to do that on the latest version on Open J9 and I reached the following line:

$(NM) -m $$($1_TARGET) | $(GREP)  "__TEXT" | \
        $(EGREP) -v "non-external|private ext

[2017-11-27 10:15] groeges commented on #72
The above issue has been resolved and a change made to jdk10: http://hg.openjdk.java.net/jdk10/master/rev/7a7bc84f4b6c

[2017-11-27 10:16] groeges commented on #72
@andrew-m-leonard As this has been fixed in OpenJDK10 and not earlier releases, do we want to make the same change in our extensions for OpenJDK9 (and possibly for OpenJDK8). I know we are trying to reduce the extensions, but I thought I would ask before making a change.

[2017-11-27 10:52] andrew-m-leonard commented on #72
Yes, JDK8 I think (JDK9 not so important as not LTS). Removing extensions is a JDK10+ plan.

[2017-11-27 21:26] JasonFengJ9 opened #91 "JCL patch to remove the references to java.lang.String field coder"
Copied from https://github.com/eclipse/openj9/issues/223

OpenJDK `j.l.String` has three instance fields as following:
[code]
On the other hand, OpenJ9 j.l.String has three instance fields as following:
[code]
OpenJ9 bundles coder and count into a single field thus getting the benefit of having a count which speeds up substring operations and StringBuilder interaction while also supporting string

[2017-11-28 15:17] JamesKingdon opened #93 "Partial version info on recent nightly builds"
I downloaded a recent nightly build from https://adoptopenjdk.net/ and it seems to be missing part of the version information for the OpenJDK line. @mstoodle @jdekonin I believe may already have some ideas on the solution.

[code]

[2017-11-28 15:24] jdekonin commented on #93
closed/autoconf/custom-hook.mk attempts to extract the version tag at configure time.

AC_DEFUN_ONCE([OPENJDK_VERSION_DETAILS],
[
  OPENJDK_SHA=`git -C $SRC_ROOT rev-list --tags --abbrev-commit --max-count=1`
  OPENJDK_TAG=`git -C $SRC_ROOT describe --tags "${OPENJDK_SHA}"`
  AC_SUBST(OPENJDK_SHA)
  AC_SUBST(OPENJDK_TAG)
])

A clone of openj9-openjdk-jdk9 without tags will cause this issue.

[2017-11-28 15:38] jdekonin commented on #93
Looking at an [adoptopenjdk build](https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_ppc64le_linux/63/consoleFull);
- git clone --depth=1 -b openj9 https://github.com/ibmruntimes/openj9-openjdk-jdk9.git
- Pulling latest tags and getting the latest update version using git fetch -q --tags --depth=1

Performed manually these steps do produce what is expected.  I see this in the output of the job

[2017-11-28 17:42] mstoodle commented on #93
I remember dorking with these commands once already to get the build tag to show up (see #16 ), and it was exactly because of the shallow clone + tags fetch sequence that makejdk-any-platform.sh was using that made it troublesome

[2017-11-28 17:43] mstoodle commented on #93
Is there any difference in how the Extensions project creates tags compared to how the AdoptOpenJDK OpenJDK mirrors create tags?

[2017-11-30 11:59] groeges commented on #18
@vsebe Is this still being worked on. If it is, what is still outstanding to get this working?

[2017-11-30 12:14] groeges commented on #20
There are several issue that are related to this issue:

https://github.com/eclipse/openj9/issues/479
https://github.com/eclipse/openj9/issues/643

These are being discussed and worked on.
Main thought in issue #643 is to make this a runtime choice and not a compile time choice.

[2017-11-30 13:47] DanHeidinga commented on #20
Making this a runtime choice is at least 6 months of work, and will likely negatively effect startup performance.  I think we need to continue to pursue the combining a compressed & non-compressed into a single package.

[2017-11-30 14:36] #18 closed

[2017-11-30 14:37] groeges commented on #68
Adding a new file `jdk/make/launcher/Launcher-com.ibm.dtfj.gmk` with the following content:
[code]
allows the extract executable to be built.
Will raise a pull request to add this to the extensions repository.

[2017-11-30 14:41] groeges commented on #68
@andrew-m-leonard If we add this file, which repository should it get added to:
- [ ] openj9-openjdk-jdk8
- [ ] openj9-openjdk-jdk9
- [ ] IBMSDK-java
or does it need to get added to all of them?

[2017-11-30 15:06] andrew-m-leonard commented on #68
all of them please Steve

[2017-11-30 15:51] groeges commented on #68
@pshipton Does this also need adding to openJ9 with OpenJDK8?

[2017-11-30 15:52] groeges commented on #22
@pshipton Should these same executable changes (add traceformat, jextract & jdmpview, and remove jstatd & jcmd) be made on the openj9-openjdk-jdk8 extensions also.

[2017-11-30 16:09] pshipton commented on #68
Yes. It is part of the service story for Linux and AIX, used to gather required files for further analysis. https://www.ibm.com/support/knowledgecenter/en/SSYKE2_8.0.0/com.ibm.java.lnx.80.doc/diag/tools/dump_viewer_dtfjview/jextract.html

[2017-11-30 16:21] groeges commented on #68
OK, looks like it needs adding to all extensions repositories. Will ensure it is added.

[2017-11-30 16:48] cretz commented on #18
@vsebe, close without comment? Can you at least link to the issue tracking availability of prebuilt binaries on adoptopenjdk.com? Is it https://github.com/eclipse/openj9/issues/55?

[2017-11-30 16:59] vsebe commented on #18
@gdams any progress on https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_x86-64_windows/?

[2017-11-30 17:48] gdams commented on #18
We are currently waiting on getting a build machine with VS2013. Our only build machine currently does everything on VS2010. Once we have that setup we should be able to start building

[2017-11-30 20:03] JasonFengJ9 opened #95 "zOS JVM JCL native need sun/nio/ch/EPollArrayWrapper.sizeofEPollEvent()I implementation"
Following stacktrace was reported in a `Java 9 b148` build, pls check if current `OpenJ9 Java 9` build has this native for `zOS` platform, and provide the implementation if required.
[code]

[2017-11-30 22:12] pshipton commented on #18
Also note the performance of the Windows build won't be optimal because of https://github.com/eclipse/openj9/issues/727

[2017-12-03 14:34] JamesKingdon opened #96 "make test fails"
Is the test subdirectory maintained? The documentation links for testing all seem to lead to out of project material that doesn't involve the test directory, and I don't see anything in-project that talks about it. Running ```make test``` in the openj9-openjdk-jdk9 directory (after a successful ```make all```) appears to attempt to enter the test directory, but quickly fails:
[code]

[2017-12-04 11:39] groeges commented on #72
This was not needed on JDK8 as it already built a JRE, the Pull Request for this issue is: https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/92 which has been merged.

Closing this issue.

[2017-12-04 11:39] #72 closed

[2017-12-04 11:54] groeges commented on #68
OpenJ9 with JDK9 extension Pull Request is: https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/97

[2017-12-04 18:45] jdekonin commented on #96
I am uncertain anyone has spent effort with investigating errors in the openjdk/test material.  Although I think the error that you are getting here is because there is an addition jtreg harness download that needs to be performed.

That aside, for running testing that will be specific to the the openj9 implementation these instructions should work.  https://github.com/eclipse/openj9/blob/master/t

[2017-12-04 19:50] JamesKingdon commented on #96
Many thanks for the info. I'll start with the openj9 specifics and then circle back to the openjdk material and see if I can get anything working.

[2017-12-06 10:04] groeges commented on #68
This has been done but until https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/9 is resolved the executables on OpenJ9 with JDK8 will not work correctly. Closing this issue as the executables have been created.

[2017-12-06 10:04] #68 closed

[2017-12-06 12:29] pshipton commented on #68
I think you meant ibmruntimes/openj9-openjdk-jdk8#8

[2017-12-06 13:33] groeges commented on #68
Yes, I did. I have modified the comment to use the correct link.

[2017-12-12 17:00] pshipton opened #100 "SDK and JRE images should only contain production shared libraries"
There are a number of extra shared libraries in the SDK and JRE images. Only the required libraries should be included in these images.

- libjclse7b_29.so is only for Java 8 and should just be excluded

- libgdb_j929.so is for development/debugging and should be put elsewhere

- the following are for testing, and should be put into another location so they can be used by the tests: libSharedClass

[2017-12-13 16:42] gdams opened #101 "Windows Cygwin Setup Issues"
I am having issues setting up Cygwin on our server 2012r2 machines.

The fundamental issue seems to be with CYGPATH:

This is what your internal machines output (courtesy of @vsebe):
[code]

This is what our machines output:
[code]

This results in a configure error:
`'C:/program' is not recognized as an internal or external command,`

[2017-12-13 16:46] gdams commented on #101
Also to confirm this is what is blocking us from adding Windows binaries to AdoptOpenJDK

[2017-12-13 16:47] DanHeidinga commented on #101
@vsebe Can you update this issue with the current status?  Unblocking the Adopt builds is a priority.

[2017-12-13 16:48] gdams commented on #101
So I can probably update you there. We have confirmed that we are running the same version of cygwin/cygpath. I have tried taking the cygpath binary that you use and sticking it on the machine but had no luck with that either. We also seemed to nail this down to being an issue with server 2012 only as the command runs fine on server 2008r2

[2017-12-13 16:56] DanHeidinga commented on #101
@gdams Can you test with `-d` as well?

ie: `cygpath -d -s -m -a "C:/Program Files (x86)/Microsoft Visual Studio 12.0"`

https://cygwin.com/cygwin-ug-net/cygpath.html

[2017-12-13 17:31] vsebe commented on #101
It works fine on our win 2012 R2 Jenkins nodes (internal Jenkins). However, they are different version:
[code]
On the AdoptOpenJDK machines:
[code]

[2017-12-14 00:35] gdams commented on #101
@vsebe what is the easiest way to do that?

[2017-12-14 13:43] bletherhead commented on #101
Just a thought - does `C:\Program Files (x86)` actually have a short (i.e. 8.3) filename on the AdoptOpenJDK machine?
`dir /x c:\` will show you 8.3 filenames and should look something like this:
[code]
`CYGWIN_NT-6.3` and `CYGWIN_NT-6.3-WOW` suggests to me that the internal machine has 64 bit Cygwin installed and the Adopt machine has 32 bit Cygwin installed. However, I've tried your `cygpath` co

[2017-12-14 15:47] gdams commented on #101
It looks like I don't
[code]

[2017-12-14 16:13] bletherhead commented on #101
You  should be able to set shortnames using fsutil, e.g.
`fsutil file setshortname "Program Files" "PROGRA~1"`
You might have to do that in safe mode.
I wonder though why they weren't created when the system was installed

[2017-12-14 16:19] DanHeidinga commented on #101
Looking at https://technet.microsoft.com/en-us/library/cc959352.aspx there's a registry entry `NtfsDisable8dot3NameCreation` that determines if short names are created or not.  Changing it requires a reboot.

Worth validating it's set correctly

[2017-12-14 17:44] gdams commented on #101
@bletherhead that did it! No need to be in safe mode!

[2017-12-14 18:32] gdams commented on #101
test build here: https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_x86-64_windows/9/console

[2017-12-14 18:43] gdams commented on #101
hmm test build failed... any idea why?

[2017-12-15 15:32] DanHeidinga commented on #101
Is the `* All command lines available in /cygdrive/c/Users/jenkins/workspace/openjdk9_openj9_build_x86-64_windows/openjdk/build/windows-x86_64-normal-server-release/make-support/failure-logs.` log file available?  There isn't enough context in the jenkins console log to hazard a guess as to why the build failed.

[2017-12-15 16:15] gdams commented on #101
https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_x86-64_windows/ws/openjdk/build/windows-x86_64-normal-server-release/make-support/failure-logs/ (you may need to be logged into our ci to see the files)

[2017-12-15 16:57] DanHeidinga commented on #101
Thanks @gdams.  @vsebe and I have been looking at the commandlines in those files and as the commands are from the OpenJDK makefiles, she's going to test a plain openjdk build on the machine.

We've been focusing on the "fixpath" command.

[2017-12-15 18:35] vsebe commented on #101
The same failure is encountered when building OpenJDK9:

[2017-12-15 19:24] vsebe commented on #101
fixpath output sample:

[code]

[2017-12-17 14:14] JamesKingdon opened #102 "Build fails with duplicate xml"
I don't seem to be able to get a clean build at the moment. After make clean, make all fails with:

[code]

The problem can be worked around with `rm -rf tr.source` in the vm directory of the build.

[2017-12-17 18:32] JamesKingdon commented on #102
User error - I still had the tr.source tree in my build env after changing branches.

[2017-12-17 18:32] #102 closed

[2017-12-18 12:46] gdams commented on #101
any progress with this?

[2017-12-18 15:56] DanHeidinga commented on #101
@gdams On Adopt, I see the OpenJDK builds are running on ` build-1and1-win2008r2-1` while the OpenJ9 build is on `build-softlayer-x64-windows-2012r2-1`.   Can we run an OpenJ9 build on the win2008 machine?

[2017-12-18 15:59] gdams commented on #101
that machine doesn't currently have visual studio 2013 on it. We are also planning to drop it and start building on a pair of 2012 machines

[2017-12-18 16:13] DanHeidinga commented on #101
@vsebe did an experiment compiling OpenJDK on the 2012 machine about 3 comments up (https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/101#issuecomment-352079256) which shows that the OJDK build fails on the 2012 machine as well.

Has Adopt successfully built OJDK on a 2012 machine?  I'm starting to suspect a machine config issue.

[2017-12-18 16:14] gdams commented on #101
no, this is a brand new machine, It's more than likely a machine config issue :)

[2017-12-18 16:30] vsebe commented on #101
The buildtools targets that requires the new compiler fails (this is not OpenJ9 code).
The fixpath.exe seems to work correctly, the bootclasspath and classpath for the new compiler are set (see INTERIM_LANGTOOLS_OVERRIDE_MODULES_ARGS and INTERIM_LANGTOOLS_ARGS in spec.gmk.in)

[2017-12-20 14:04] DanHeidinga commented on #101
@vsebe Any update on this?

[2017-12-20 14:07] DanHeidinga commented on #58
We'll need to enable this for all the extensions repos - 8, 9, "jdk", and 10, etc as they become available

[2017-12-20 17:26] pshipton opened #103 "Upgrade to 9.0.1"
Oracle has released a 9.0.1 version, and it seems to be available in OpenJDK here http://hg.openjdk.java.net/jdk-updates/jdk9u/. Will the openj9-openjdk-jdk9 extensions be updated to the latest?

@aguibert fyi

[2017-12-21 18:20] pdbain-ibm commented on #18
Please add instructions for installing mingw, which is required in order to fix issue #727.

[2017-12-21 18:59] pshipton commented on #18
@pdbain-ibm please provide those instructions, once you have it working. It would be a good idea to supply those instructions in a new issue, created on OpenJ9, and not here in this closed issue on the wrong repo.

[2017-12-22 16:34] jdekonin commented on #103
Relates to https://github.com/ibmruntimes/openj9-openjdk-jdk8/issues/10

Once this job is in place for jdk8u the same actions can be used or jdk9u.  @AdamBrousseau for your awareness.

[2017-12-28 16:45] pshipton commented on #70
Dup of #100

[2017-12-28 16:45] #70 closed

[2018-01-04 07:07] mbvreddy commented on #93
OPENJDK_TAG is determined by fetching the tags on latest revision of openj9-openjdk-jdk9. In this case, revision doesn't has any tags. It appears that tags are created when OpenJDK mirror happens. Any later commits to repo doesn't carry any tags.

I think we can use last added tag rather than tag of each revision. Below change should fix the tag in version output. I will test with this and confirm

[2018-01-04 07:57] mbvreddy commented on #93
java -version with the above change

[code]

[2018-01-04 09:46] mbvreddy commented on #93
Pull Request - https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/104

[2018-01-09 20:13] mbvreddy commented on #93
Pull Request for Java 8 - https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/22

[2018-01-10 15:20] sxa555 opened #105 "AO8/J9 s390x builds do not work out of the box"
I presume this is somewhere around the `redirector.c` code within `openj9`

if you download the s390x AO8/J9 builds from www.AdoptOpenJDK.net and try to run it you get this error:

[code]
Creating a symbolic link from `jre/lib/s390x/server` to `jre/lib/s390x/j9vm` allows the JVM to start up, so somewhere along the lines in the build it's still looking for `libjvm.so` in HotSpot's location.

[2018-01-10 15:24] sxa555 commented on #105
Wrong repo - closing

[2018-01-10 15:24] #105 closed

[2018-01-10 15:27] pshipton commented on #105
Its caused by the jvm.cfg file, which needs to contain

[code]

[2018-01-10 15:48] jdekonin commented on #93
While #104 was merged, I believe the correct location for the fix would be in the openjdk-build scripts.  I have added comments to ibmruntimes/openj9-openjdk-jdk8/pull/22 with the details as to why.  In a nut shell...see my initial comment on Nov 28th; the shallow clone is the reason for the missing tag.  This should remain open for tracking the revert on #104 unless investigation proves otherwise

[2018-01-15 15:23] vsebe commented on #101
If the boot-jdk path does not contains any space, it works. Looks the short paths are not properly set.

[2018-01-15 20:28] vsebe commented on #101
Path too long. AdoptOpnJDK build: https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_x86-64_windows/14/console
https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_x86-64_windows/14/console

'/cygdrive/c/Users/jenkins/jdk9_j9/openjdk/build/windows-x86_64-normal-server-release/images/jdk' found

[code]

[2018-01-16 13:55] pdbain-ibm opened #107 "JDWP debugging doesn't work with Java 9"
test:
$ java  -agentlib:jdwp=transport=dt_socket,server=y,address=12345 HelloWorld &
[1] 7957
$ Listening for transport dt_socket at address: 12345

$ jdb -attach 12345
java.net.ConnectException: Connection refused (Connection refused)
at java.net.PlainSocketImpl.socketConnect(Native Method)
at java.net.AbstractPlainSocketImpl.doConnect(AbstractPlainSocketImpl.java:350)
at java.net.AbstractPlainSo

[2018-01-16 15:15] pshipton commented on #107
If it works with OpenJ9 Java 9 then I'm not sure why this Issue is opened here.

[2018-01-16 15:15] #107 closed

[2018-01-16 15:30] pshipton commented on #107
Please do not put IBM private links that nobody outside of IBM can view in public Issues.

[2018-01-22 22:26] vsebe commented on #101
Last 5 builds passed:
https://ci.adoptopenjdk.net/job/openjdk9_openj9_build_x86-64_windows/18/
Closing issue.

[2018-01-22 22:26] #101 closed

[2018-01-25 08:38] mbvreddy commented on #93
ibmruntimes/openj9-openjdk-jdk8#22 is merged post investigation.

OpenJ9 for JDK9 version output of latest nightly build is

openjdk version "9-internal"
OpenJDK Runtime Environment (build 9-internal+0-adhoc.jenkins.openjdk)
Eclipse OpenJ9 VM (build 2.9, JRE 9 Linux amd64-64 Compressed References 20180124_97 (JIT enabled, AOT enabled)
OpenJ9   - d7cc8fd
OMR      - 4badb2f
OpenJDK  - be5903d based

[2018-01-25 09:03] pshipton commented on #93
I believe this means we can close this Issue.

[2018-01-25 09:03] #93 closed

[2018-01-25 13:26] JamesKingdon commented on #93
Many thanks @mbvreddy

[2018-01-25 21:40] pshipton opened #113 "Copyright dates not updated in #109"
@adamfarley https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/109 merged a couple of files without updating the copyright end dates. Please do so. Same with https://github.com/ibmruntimes/openj9-openjdk-jdk8/pull/32

There should be a copyright check running now on pull requests to indicate when copyright dates are incorrect. Please check it before merging. In general a failure indicates tha

[2018-01-25 21:43] pshipton opened #114 "Merge check details not available"
@AdamBrousseau in an OpenJ9 PR after merge there is a "View Details" button to see the status of the merge checks. Can this be enabled on the jdk8 & 9 repos?

[2018-01-25 22:26] AdamBrousseau commented on #103
/cc @archanaNogriya

[2018-01-25 22:38] AdamBrousseau commented on #114
If there are no checks performed then there is nothing to show. I am unsure why #109 and #110 didn't get any builds. I think the behaviour is correct, the issue is with the builds not launching.
https://ci.eclipse.org/openj9/view/Pull%20Requests/job/PullRequest-LineEndingsCheck-OpenJ9-OpenJDK-JDK9/
https://ci.eclipse.org/openj9/view/Pull%20Requests/job/PullRequest-CopyrightCheck-OpenJ9-OpenJDK-JDK

[2018-01-26 09:48] adamfarley commented on #113
Addendum: Peter and Adam B have (as per https://github.com/ibmruntimes/openj9-openjdk-jdk9/issues/114) since discovered that the copyright-checks were not launched in #109, so there was nothing to check before merging.

I acknowledge the lapse though, as I should have checked it manually, and I still plan to fix the copyrights.

[2018-01-26 12:22] adamfarley commented on #113
Fixed, finally. :)

[2018-01-26 12:22] #113 closed

[2018-01-29 13:53] archanaNogriya commented on #103
Thanks @AdamBrousseau

@andrew-m-leonard  /cc

[2018-02-24 21:52] JamesKingdon opened #132 "ARM misplaced libraries"
I just tried a build with the latest changes (openj9 branch as of Feb 24 AM) and it seems a couple of the libraries aren't getting copied to the expected locations, instead they are in subdirectories of lib/default:

j9vm_b156/libjvm.so
jcl/cl_se9/libjclse9_29.so

If I copy or symlink these into lib/default the JVM starts up ok.

[2018-02-24 22:07] jdekonin commented on #132
Likely due to #131, fyi @keithc-ca

[2018-02-26 01:46] keithc-ca commented on #132
I expect @jdekonin is correct. It should be straight-forward to fix.

[2018-02-26 13:39] JamesKingdon commented on #132
#131 is a huge improvement, this looks so much cleaner now.

[2018-02-26 13:44] keithc-ca commented on #132
Thanks, @JamesKingdon. I think it's just a matter of a dropped call to `$(notdir)`.

[2018-02-26 16:13] keithc-ca commented on #132
Fixed via #134: closing.

[2018-02-26 16:13] #132 closed

[2018-03-01 16:37] JasonFengJ9 opened #136 "OpenJ9 Java 9 extension doesn't have latest level"
Class `jdk.internal.misc.Unsafe` in current `OpenJ9` branch still refers obsoleted method `allocateDBBMemory, allocateDBBMemory, freeDBBMemory` such as https://github.com/ibmruntimes/openj9-openjdk-jdk9/blob/openj9/jdk/src/java.base/share/classes/java/nio/Direct-X-Buffer.java.template#L100, while the `master` branch refers to `allocateMemory, allocateMemory, freeMemory` instead such as https://git

[2018-03-01 18:03] DanHeidinga commented on #136
My understanding is that `master` branch contains the unpatched OpenJDK code while the `openj9` branch includes the modifications necessary to run OpenJ9.

[2018-03-01 18:36] JasonFengJ9 commented on #136
Right, that's my understanding as well. The difference shown in this issue is not due to the modification to run OpenJ9, it just doesn't get latest OpenJDK update. Latest `OpenJDK Java 9 b181` replaced `allocateDBBMemory, allocateDBBMemory, freeDBBMemory` with `allocateMemory, allocateMemory, freeMemory` though I am not sure exactly when the API were changed.

[2018-03-01 18:51] DanHeidinga commented on #136
The DBB family of functions (`allocateDBBMemory` and friends) are OpenJ9 extensions.  They haven't been in OpenJDK (yet)

[2018-03-01 18:57] JasonFengJ9 commented on #136
Thanks @DanHeidinga for the clarification.
Closing this issue accordingly.

[2018-03-01 18:57] #136 closed

[2018-03-03 19:41] #82 closed

[2018-03-03 19:42] #81 closed

[2018-03-03 19:43] JamesKingdon commented on #132
Just got a chance to try out the changes, all looks good now. Many thanks!

[2018-03-03 19:49] JamesKingdon commented on #96
OK, I think this issue just reflected a lack of understanding on my part. I'll close it.

Testing for OpenJ9: https://github.com/eclipse/openj9/blob/master/test/README.md
Testing for OpenJDK: https://github.com/AdoptOpenJDK/openjdk-tests/blob/master/README.md

[2018-03-03 19:49] #96 closed

[2018-03-21 17:31] pshipton commented on #103
An update to 9.0.4 has been completed. Which should be the final version for Java 9 now that Java 10 is released.

[2018-03-21 17:31] #103 closed

[2018-03-27 03:25] jmarrero commented on #101
Hi, there is still no Windows version at https://adoptopenjdk.net. Is this intended, if so when a windows release is expected?

[2018-03-27 03:34] pshipton commented on #101
@jmarrero There is a Windows download for Java 9 in the nightly builds https://adoptopenjdk.net/nightly.html?variant=openjdk9-openj9

[2018-03-29 13:11] pshipton opened #144 "Remove Eclipse licences added by #138"
#138 added Eclipse licenses to OpenJDK code. The license of the code cannot be changed and these licenses must be removed (although an IBM copyright can be added).

I also made a couple of other review comments in #138

@pdbain-ibm

[2018-03-29 14:31] #144 closed, assigned to andrew-m-leonard

[2018-05-10 12:41] johnoliver commented on #101
For anyone coming back to this issue later, I cannot confirm the length of the path is definitely the problem, but moving the build workspace to one with a shorter path does appear to have worked for me.

[2018-05-14 19:38] keithc-ca commented on #34
I believe I have JDK11 working properly; backporting to earlier versions should be relatively painless.

[2018-05-15 22:40] #34 closed

[2018-05-27 14:32] keithc-ca commented on #91
Like https://github.com/eclipse/openj9/issues/223, I think this can be closed.

[2018-05-27 14:32] #91 closed

[2018-05-28 18:53] keithc-ca commented on #83
I believe this was fixed by https://github.com/ibmruntimes/openj9-openjdk-jdk9/pull/155.
I tested using
[code]
without incident.

[2018-05-28 18:53] #83 closed

[2018-06-04 22:07] AdamBrousseau commented on #58
@MichelleXiaoxiaoWang has authored a signed-off by check and we are currently testing it on the OpenJ9 PRs before we merge it.
https://ci.eclipse.org/openj9/job/PullRequest-SignedOffByCheck-OpenJDK10

We have been checking
- The last line of each commit has a 'signed-off-by'
- The second last line is blank.

I noticed a few commits merged that did not have the second last line blank. They still pa

[2018-06-04 22:10] AdamBrousseau commented on #58
If Eclipse is only checking the authors, maybe we should have this check at OpenJ9 too.

[2018-06-06 22:04] AdamBrousseau commented on #58
Talked to Dan, seems my requirements may have been incorrect on this.
I assumed:
- Last line signed-off-by
- Second last line blank

(based on how `git commit -s` works)

Our [CONTRIBUTING.md](https://github.com/eclipse/openj9/blob/master/CONTRIBUTING.md#commit-guidelines) at OpenJ9 says

The [example commmit](https://github.com/eclipse/openj9/blob/master/CONTRIBUTING.md#example-commits) shows the

[2018-06-12 17:50] AdamBrousseau commented on #58
Can we agree that the check should be "sign off in any line of the footer"? Or do we need to discuss further?
I.e. Find last blank line of commit, one of the lines following must have a sign-off.

[2018-06-12 18:37] pshipton commented on #58
Sounds correct.

[2018-06-13 16:00] pshipton opened #162 "OpenJ9 0.9 release"
The OpenJ9 0.9 release is imminent, expected to have a rc1 candidate tag by 20180614. An appropriate branch needs to be created, and versions numbers for the release updated.

Why Java 9? See https://github.com/AdoptOpenJDK/openjdk-build/issues/370

[2018-06-16 14:13] pshipton commented on #162
The extensions name and version needs to be added.

[2018-06-16 15:19] pshipton commented on #162
I'm also wondering if all the patches were delivered to jdk9. We should compare with jdk10 and see if anything that should be here is missing.

[2018-07-09 21:31] #58 closed

[2018-07-09 21:47] AdamBrousseau commented on #58
This is now implemented and running against 8,9,10,next

[2018-10-12 13:30] #162 closed, assigned to nobody

[2018-10-12 13:30] #114 closed

[2019-01-10 15:04] andrew-m-leonard commented on #67
this is now obsolete, as the make file has been reworked quite a bit since then now

[2019-01-10 15:04] #67 closed

[2019-01-10 15:05] andrew-m-leonard commented on #100
JDK9 now closed, this has been fixed in JDK11+

[2019-01-10 15:05] #100 closed

[2019-01-10 15:06] andrew-m-leonard commented on #95
We don't have OpenJDK9 on zOS, if this is still an issue then you can raise it with Samir's team who now own the zOS port.

[2019-01-10 15:06] #95 closed

[2019-01-10 15:09] andrew-m-leonard commented on #89
If this is still a requirement, it's probably worth discussing on in the openjdk community with regards static linking options

[2019-01-10 15:09] #89 closed

[2019-01-10 15:09] #38 closed

[2019-01-10 15:09] #20 closed